<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dưỡng Sinh Hà Nam</title>

    <!-- SEO -->
    <meta name="description"/>
    <meta name="robots" content="index,follow"/>
    <link rel="canonical" href="index.html"/>
    <link rel="shortcut icon" href="images/configs/2024/04/15/logo-677.jpg">
    <meta property="og:locale" content="vi_VN">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Dưỡng Sinh Hà Nam">
    <meta property="og:description">
    <meta property="og:url" content="index.html">
    <meta property="og:site_name" content="Dưỡng Sinh Hà Nam">
    <meta property="og:image" content="images/banners/2024/04/15/group-37497-105.jpg"/>
    <!-- END SEO -->

    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400&amp;display=swap"
          rel="stylesheet">
    <link href="./Content/css918e.css" rel="stylesheet"/>

</head>

<body>

<div class="header-top">
    <div class="container">
        <div class="header-top-flex">
            <div class="header-top-left">
                <div class="info-contact">
                    <i class="fas fa-phone"></i>Hotline - Zalo: <a href="tel:0857666086"
                                                                   class="text-white">0857666086</a>
                </div>
                <div class="info-contact">
                    <i class="fas fa-envelope"></i>Email: naturespa.cskh@gmail.com
                </div>
            </div>
            <div class="header-top-right">
                <div class="header-social">
                    <a href="https://www.facebook.com/profile.php?id=61557139427068" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <!--                    <a target="_blank">-->
                    <!--                        <i class="fab fa-twitter"></i>-->
                    <!--                    </a>-->
                    <!--                    <a target="_blank">-->
                    <!--                        <i class="fab fa-instagram"></i>-->
                    <!--                    </a>-->
                    <!--                    <a target="_blank">-->
                    <!--                        <i class="fab fa-youtube"></i>-->
                    <!--                    </a>-->
                </div>
            </div>
        </div>
    </div>
</div>
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header-logo d-flex align-items-center justify-content-start" style="height: 100%">
                    <a href="index.html">
                        <img src="./Content/images/logo.jpg"
                             alt="Dưỡng Sinh Hà Nam" title="Dưỡng Sinh Hà Nam"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="header-menu">
                    <ul class="menu-list ul-block">
                        <li>
                            <a href="#chuong-trinh-dang-chay">Chương trình đang chạy</a>
                        </li>
                        <li>
                            <a href="#cau-chuyen-suc-khoe">Câu chuyện sức khoẻ</a>
                        </li>
                        <li>
                            <a href="#dich-vu-noi-bat">Dịch vụ nổi bật</a>
                        </li>
                        <li>
                            <a href="#san-pham-ban-chay">Sản phẩm bán chạy</a>
                        </li>
                        <li>
                            <a href="#feedback-khach-hang">Feedback của khách hàng</a>
                        </li>
                        <li>
                            <a href="#footer">Thông tin liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="header-mobi">
            <div class="hamburger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </div>
        </div>
    </div>
</header>

<!--Chương trình đang chạy -->
<section id="chuong-trinh-dang-chay" class="banner-list">
    <a>
        <img src="images/banners/2024/04/15/group-37497-105.jpg" alt="Banner"/>
    </a>
    <a>
        <img src="images/banners/2024/04/17/group-37497-7.jpg" alt="Banner"/>
    </a>
</section>

<!--Câu chuyện sức khỏe của Nature-->
<div id="cau-chuyen-suc-khoe" class="bg-group">
    <div class="intro-home">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="intro-home-content">
                        <div class="sub-title" data-aos="fade-right" data-aos-delay="50">Giới thiệu</div>
                        <div class="title" data-aos="fade-right" data-aos-delay="150">Dưỡng Sinh Hà Nam</div>
                        <div class="text content-detail" data-aos-delay="300" data-aos="fade-right">
                            <p>Với phương châm "Chăm sóc sức khỏe từ gốc", Nature cam kết mang đến cho bạn và gia đình
                                một cuộc sống khỏe mạnh, an lành và tràn đầy năng lượng. Chúng tôi tin rằng sức khỏe
                                không chỉ là việc điều trị khi bệnh tật xuất hiện, mà là sự chăm sóc toàn diện từ bên
                                trong cơ thể. Bằng cách kết hợp các liệu pháp dưỡng sinh truyền thống và các phương pháp
                                tự nhiên, Nature giúp cơ thể tự điều hòa, nâng cao sức đề kháng và mang lại sự thư giãn
                                tuyệt vời. Hãy đến với chúng tôi để trải nghiệm sự khác biệt và bắt đầu hành trình chăm
                                sóc sức khỏe toàn diện, giúp bạn tận hưởng cuộc sống khỏe mạnh và hạnh phúc hơn mỗi
                                ngày.
                            </p>
                        </div>
                        <div class="see-more" data-aos="fade-right" data-aos-delay="350">
                            <a href="" data-toggle="modal" data-target=".contact-modal">Nhận tư vấn ngay<i
                                    class="fal fa-long-arrow-right ml-1"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="intro-img">
                        <div class="intro-img-center" data-aos="zoom-in-up" data-aos-delay="50" data-aos-offset="300">
                            <img src="images/configs/2024/04/19/ellipse-2-1-865.png" alt="Dưỡng Sinh Hà Nam"/>
<!--                            <a href="https://www.youtube.com/watch?v=50W4qDKjkhU" class="ic-play" data-fancybox-->
<!--                               data-touch="true">-->
<!--                                <img src="Content/images/ic-play.png" alt="Icon"/>-->
<!--                            </a>-->
                            <div class="img-before-1">
                                <img src="Content/images/img-before-1.png" alt="Icon"/>
                            </div>
                            <div class="img-before-2">
                                <img src="Content/images/img-before-2.png" alt="Icon"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Dịch vụ nổi bật-->
<div id="dich-vu-noi-bat" class="section-product">
    <div class="container">
        <div class="section-title" data-aos="fade-up">Dịch vụ nổi bật</div>
        <div class="row">
            <template v-for="(service, index) in serviceList" :key="index">
                <div class="col-lg-3 col-6 p-2" data-aos="zoom-in-up" data-aos-delay="0" data-aos-offset="200">
                    <div class="product-item">
                        <div class="img">
                            <a href="#" data-toggle="modal" :data-target="'#serviceDetailModal' + index">
                                <img :src="service.thumbnail" alt=""
                                     title=""/>
                            </a>
                        </div>
                        <div class="ic-new">
                            New
                        </div>
                        <div class="name">
                            <a href="#" data-toggle="modal" :data-target="'#serviceDetailModal' + index">
                                {{ service.name }}
                            </a>
                        </div>
                        <div class="price">
                            <div class="price-new">
                                {{ service.price }}đ
                            </div>
                        </div>
                        <div class="evaluate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <!-- Modal dịch vụ nổi bật -->
                <div class="modal fade" :id="'serviceDetailModal' + index" tabindex="-1" role="dialog"
                     :aria-labelledby="'serviceDetailModalTitle' + index"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" :id="'serviceDetailModalTitle' + index">Chi tiết dịch vụ</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img :src="service.thumbnail" alt="" class="mb-3">
                                <h3 class="mb-3">{{service.name}}</h3>
                                <p>{{service.detail}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

<!--Sản phẩm bán chạy -->
<div id="san-pham-ban-chay" class="section-product">
    <div class="container">
        <div class="section-title" data-aos="fade-up">Sản phẩm bán chạy</div>
        <div class="row">
            <template v-for="(product, index) in productList" :key="index">
                <div class="col-lg-3 col-6 p-2" data-aos="zoom-in-up" data-aos-delay="0" data-aos-offset="200">
                    <div class="product-item">
                        <div class="img">
                            <a href="#" data-toggle="modal" :data-target="'#productDetailModal' + index">
                                <img :src="product.thumbnail" alt=""
                                     title=""/>
                            </a>
                        </div>
                        <div class="ic-new">
                            New
                        </div>
                        <div class="name">
                            <a href="#" data-toggle="modal" :data-target="'#productDetailModal' + index">
                                {{ product.name }}
                            </a>
                        </div>
                        <div class="price">
                            <div class="price-new">
                                {{ product.price }}đ
                            </div>
                        </div>
                        <div class="evaluate">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                    </div>
                </div>
                <!-- Modal Chi Tiết Sản Phẩm -->
                <div class="modal fade" :id="'productDetailModal' + index" tabindex="-1" role="dialog"
                     :aria-labelledby="'productDetailModalTitle' + index"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" :id="'productDetailModalTitle' + index">
                                    {{ product.name }}
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img :src="product.thumbnail" class="mb-3" alt="">
                                <h3 class="mb-3">{{ product.name }}</h3>
                                <p>{{ product.detail }}</p>
                                <!-- Bạn có thể thêm thông tin chi tiết khác ở đây -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</div>

<!--Feedback của khách hàng -->
<section id="feedback-khach-hang" class="section-feedback">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-5">
                <div class="section-feedback-left mb-3">
                    <div class="img">
                        <img src="images/configs/2024/04/17/feedback-l-67.png" class="feedback-img-center"/>
                        <img src="Content/images/rose.png" class="img-rose"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 pl-lg-5">
                <div class="feedback-content">
                    <div class="ic-quotes">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-quote-right"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <div class="feedback-list">
                        <div class="feedback-item">
                            <div class="content">
                                &quot;KHI BẠN Y&#202;U BẢN TH&#194;N – CẢ THẾ GIỚI Y&#202;U BẠN&quot;
                                Ch&#250;ng t&#244;i tập trung v&#224;o t&#236;nh y&#234;u bản th&#226;n. Với yoga n&#226;ng
                                cơ mặt, bạn c&#243; thể học c&#225;ch coi trọng bản th&#226;n, t&#244;n trọng bản th&#226;n
                                hơn, tự tin hơn v&#224; y&#234;u bản th&#226;n hơn. V&#224; khi bạn y&#234;u thương bản
                                th&#226;n sẽ dẫn đến y&#234;u thương những người xung quanh. Bằng c&#225;ch chia sẻ hạnh
                                ph&#250;c với những người xung quanh, bạn c&#243; thể gửi gắm y&#234;u thương đến những
                                người ở xa m&#224; bạn chưa từng gặp.
                            </div>
                            <div class="occ">
                                Nguyễn Thị Lan - Kh&#225;ch h&#224;ng
                            </div>
                        </div>
                        <div class="feedback-item">
                            <div class="content">
                                “Một trong những điểm mạnh của c&#225;c kh&#243;a học n&#224;y l&#224; t&#237;nh to&#224;n
                                diện của nội dung. Ch&#250;ng kh&#244;ng chỉ tập trung v&#224;o việc sử dụng sản phẩm mỹ
                                phẩm v&#224; dinh dưỡng.”
                            </div>
                            <div class="occ">
                                Nguyễn Thị Lan - Kh&#225;ch h&#224;ng
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--Form điền thông tin -->
<section id="dang-ky-thong-tin" class="section-advise">
    <div class="container">
        <div class="section-title">Liên hệ tư vấn</div>
        <div class="sub-title">
            Khi bạn có thắc mắc về dịch vụ và sản phẩm, hãy liên hệ với chúng tôi
        </div>
        <div class="see-more">
            <a href="#" data-toggle="modal" data-target=".contact-modal">Nhận thông tin tư vấn ngay<i
                    class="fal fa-long-arrow-right ml-1"></i></a>
        </div>
    </div>
</section>

<div class="modal fade contact-modal" tabindex="-1" role="dialog" aria-labelledby="contact" style="display: none;"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">Đăng ký tư vấn khóa học</div>
            <div class="modal-body">
                <form class="contact-form-modal">

                    <input name="__RequestVerificationToken" type="hidden"
                           value="97v9ATrm4SwbISkLXotgqfc5zSH_EKbCsDOIU7VQ1IzM_skATCgcxa3S5JTasgikNhO_e8bRqP5ta_xx6dtJk-XTEcqAaA28KXcdRwfs9cU1"/>
                    <div class="form-group">
                        <input type="text" name="Fullname" required="" placeholder="Họ tên*:" maxlength="50"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="tel" name="Mobile" required="" placeholder="Điện thoại*:" maxlength="20"
                               class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="email" name="Email" required="" placeholder="Email*:" class="form-control"
                               maxlength="50">
                    </div>
                    <div class="form-group">
                        <textarea rows="2" placeholder="Nội dung*:" name="Body" class="form-control" required=""
                                  maxlength="500"></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn">ĐĂNG KÝ</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Model Chi Tiết Dịch Vụ -->
<div class="modal fade" id="serviceDetailModal" tabindex="-1" role="dialog" aria-labelledby="serviceDetailModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="serviceDetailModalTitle">Chi tiết dịch vụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Modal Content</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!-- Model Chi Tiết Sản Phẩm -->
<div class="modal fade" id="productDetailModal" tabindex="-1" role="dialog" aria-labelledby="productDetailModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productDetailModalTitle">Chi tiết sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1>Modal Content</h1>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<!--Liên hệ + đường link dẫn qua hotline/ fb/zalo-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="footer-col">
                    <div class="footer-logo">
                        <a href="index.html">
                            <img src="./Content/images/logo.jpg" alt="Dưỡng Sinh Hà Nam"
                                 title="Dưỡng Sinh Hà Nam"/>
                        </a>
                    </div>
                    <div class="footer-title">
                        Dưỡng Sinh Hà Nam
                    </div>
                    <p style="margin: 0cm 0cm 8pt; text-align: justify;">
                        <span style="font-size: 14.6667px;">Trẻ hơn - Xinh đẹp hơn!</span>
                    </p>
                </div>

            </div>

            <div class="col-lg-7">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="footer-col">
                            <div class="footer-title">
                                Thông tin
                            </div>
                            <ul class="ul-block">
                                <li>
                                    <a href="index.html" class="footer-link">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="#cau-chuyen-suc-khoe">Câu chuyện sức khoẻ</a>
                                </li>
                                <li>
                                    <a href="#dich-vu-noi-bat">Dịch vụ</a>
                                </li>
                                <li>
                                    <a href="#san-pham-ban-chayl">Sản phẩm</a>
                                </li>
                                <li>
                                    <a href="#feedback-khach-hang" class="footer-link">Feedback khách hàng</a>
                                </li>
                                <li>
                                    <a href="#dang-ky-thong-tin">Liên hệ</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-col">
                            <div class="footer-title">
                                Thông tin liên hệ
                            </div>
                            <div class="footer-address">
                                <div class="item">
                                    <i class="fas fa-map-marker-alt"></i>
                                    <div><strong>Địa chỉ:</strong> Sn 150 Trần Thị Phúc, phường Hai Bà Trưng, Thành phố
                                        Phủ Lý, tỉnh Hà Nam.
                                    </div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-phone"></i>
                                    <div><strong>Hotline - Zalo:</strong> 0857666086</div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-phone-rotary"></i>
                                    <div><strong>Hỗ trợ kinh doanh:</strong> 0857666086</div>
                                </div>
                                <div class="item">
                                    <i class="fas fa-envelope"></i>
                                    <div><strong>Email:</strong> naturespa.cskh@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="footer-col">
                            <div class="footer-title">
                                mạng xã hội
                            </div>
                            <div class="footer-social">
                                <a target="_blank">
                                    <i class="fab fa-facebook"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-instagram-square"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a target="_blank">
                                    <i class="fab fa-youtube"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="footer-col">
                            <div class="footer-title">
                                Đăng ký nhận bản tin
                            </div>
                            <form class="form-subscribe" id="subscribeForm">

                                <input name="__RequestVerificationToken" type="hidden"
                                       value="h1RDqlxO093WH2J3nXyeFo71J3rDiXdRLCU6ZK3bjOacdfccjExTqNijKsRLYBS-snuevdXGvwDk0ROF1ashcC9AvGC3JLDaNK5nT1VlIns1"/>
                                <div class="input-group">
                                    <input class="form-control" type="text" name="email" placeholder="Email của bạn...."
                                           value="">
                                    <button type="submit" class="btn">
                                        Gửi
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="./bundles/jquerye770.js"></script>
<script src="./bundles/bootstrap2ec9.js"></script>
<script src="./bundles/jqueryvalf0e0.js"></script>
<script src="https://unpkg.com/petite-vue"></script>

<!--HTML SCRIPT-->
<script>
    function openModal(modalId) {
        $(modalId).modal();
    }
</script>

<!-- **VUE SCRIPT** -->
<script type="module">
    (async () => {
        try {
            // Fetch services.json
            const servicesResponse = await fetch('./services.json');
            if (!servicesResponse.ok) {
                throw new Error('Không thể tải services.json');
            }
            const services = await servicesResponse.json();

            // Fetch products.json
            const productsResponse = await fetch('./products.json');
            if (!productsResponse.ok) {
                throw new Error('Không thể tải products.json');
            }
            const products = await productsResponse.json();

            console.log('Services:', services);
            console.log('Products:', products);

            // Tạo ứng dụng PetiteVue với dữ liệu đã lấy và mount vào thẻ #app
            PetiteVue.createApp({
                serviceList: services,
                productList: products
            }).mount();

        } catch (error) {
            console.error('Lỗi khi tải dữ liệu JSON:', error);
        }
    })();
</script>

<script>
    IndexJs();
</script>

</body>

</html>
